@model ReservaCine.Models.Sala

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Sala</h4>
<hr />
<div class="row text-light">

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TipoSala" class="control-label"></label>
                <br />
                <select id="ddlTipoSala" name="TipoSalaId" class="custom-select">
                    @foreach (TipoSala tiposala in ViewBag.TipoSalaId)
                    {
                        if (@tiposala.Id == Model.TipoSalaId)
                        {
                            <option value="@tiposala.Id" selected>@tiposala.Nombre</option>
                        }
                        <option value="@tiposala.Id">@tiposala.Nombre</option>
                    }
                    
                </select>
                <input asp-for="TipoSalaId" type="hidden" name="TipoSalaId" class="form-control" />
                <span asp-validation-for="TipoSalaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
