@model IEnumerable<ReservaCine.Models.Funcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Funciones</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole(nameof(Rol.Administrador)))
    {
        <a asp-action="Create">Crear nueva Función</a>
    }
</p>
<table class="table text-dark table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantButacasDisponibles)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantButacasDisponibles)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole(nameof(Rol.Administrador)))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <label>|</label>
                    <a asp-action="Delete" asp-route-id="@item.Id">Elimnar</a>
                  
                }

            </td>
        </tr>
}
    </tbody>
</table>
